[Unit]
Description=Run custom cron job for pscheduler
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/environment
ExecStart=/usr/src/app/custom-cron.sh
Restart=always

[Install]
WantedBy=multi-user.target
