# .env
HOSTS=23.134.232.50@shore-STAR
AUTH_TOKEN=changeme
# Comma-separated list of archive endpoints
ARCHIVE_URLS=https://localhost:8443/ps,https://23.134.232.50:8443/ps
TZ=UTC
CRON_EXPRESSION=0 */2 * * *
